body{
  color: #444444;
  font-family: Lato;
}

.container{
  width: 80%;
  margin: 0 auto;
}

h1, h2, h3 {
  font-weight: normal;
}

h1 {
  color:red;
  margin-bottom:5px;
}

h2 {
  margin: 5px 0px;
  font-size: 15px;
}
h4{
  color:red;
  font-weight: bold;
  text-align: right;
}

img {
  width: 100%;
}

.nav > a {
  color: #dddddd;
  margin-right: 20px;
}

.nav > a:hover {
  background-color: black;
  }

.date{
  color: #dddddd;
  }

.footer > a{
  color: #DD0000;
  text-decoration: none;
  margin-right: 20px;
  }
  
 .footer > a:hover {
  background-color: #aa0000;
  } 

#copyright{
  color:#bbbbbb;
}
   
